.container {
	display: flex;
	flex-direction: column;
	margin-top: 4rem;
	width: 100%;
}

.container h2 {
	font-size: 2rem;
	text-align: center;
}

.tvContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
	padding: 1.5rem;
	gap: 2rem;
	transition: all 0.3s;
}

@media (min-width: 640px) {
	.tvContainer {
		grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	}
}

@media (min-width: 768px) {
	.tvContainer {
		grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
	}
}

@media (min-width: 1200px) {
	.tvContainer {
		grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
		padding: 4rem;
	}
}

@media (min-width: 1536px) {
	.tvContainer {
		grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	}
}
