.container {
	height: 100%;
	width: 100%;
}

.movieBackground {
	z-index: -1;
	position: absolute;
	object-fit: cover;
	top: -10rem;
	left: 0;
	height: 100%;
	filter: brightness(90%);
	mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.5) 100%);
	animation: fadeIn 1s forwards;
}

.Introduction {
	padding: 30% 3rem 0 3rem;
}

.blurBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 2.5rem;
	width: 100%;
}

.posterContainer {
	position: relative;
	height: 40rem;
	width: 26rem;
	margin-bottom: 2.5rem;
}

.posterContainer img {
	position: relative;
	border-radius: 1.5rem;
}

.title {
	text-align: center;
	font-size: 3.5rem;
	margin-bottom: 2rem;
	font-weight: 700;
	filter: drop-shadow(2px 5px 5px black);
}

.description {
	font-weight: normal;
	font-size: 1.8rem;
	margin-bottom: 2rem;

	color: rgba(255, 255, 255, 0.8);
}

.genreList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-weight: normal;
	gap: 1rem;
	/* padding: 0 5rem; */
	font-size: 1.7rem;
	margin-bottom: 2rem;
}

.genreList p {
	border: 2px solid gray;
	padding: 0.4rem 0.7rem;
	border-radius: 0.8rem;
	backdrop-filter: blur(1rem);
	box-sizing: border-box;
	transition: all 0.3s ease;
}

.genreList p:hover {
	cursor: pointer;
	border-color: #9e221a;
	background-color: rgba(158, 34, 26, 0.1);
	scale: 1.1;
}

.stat {
	display: flex;
	gap: 3rem;
	font-size: 2rem;
	font-weight: normal;
	margin-bottom: 1.5rem;
	color: rgba(255, 255, 255, 0.5);
}

.box {
	font-size: 1.8rem;
	width: 100%;
	padding: 0 0 0 3rem;
	margin-bottom: 10rem;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (min-width: 640px) {
}
/* Medium screens (min-width: 768px) */
@media (min-width: 768px) {
}

/* Large screens (min-width: 1024px) */
@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
	.movieBackground {
		width: 100%;
		height: auto;
		mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 30%);
		/* mask-image: none; */
		filter: brightness(100%);
	}
	.Introduction {
		padding: 0rem 0 10rem 3rem; /* Adjust padding as needed */
		height: 100vh; /* Use min-height for flexible growth */
		width: 50rem;
		box-sizing: border-box; /* Ensure padding is included in the width/height calculation */
		display: flex;
		flex-direction: column;
		justify-content: flex-end; /* Align content to the bottom */
	}

	.blurBox {
		border-radius: 1rem;
		border: 1px solid rgba(255, 255, 255, 0.4);
		background: linear-gradient(125deg, rgba(255, 255, 255, 0.1));
		padding: 2.5rem 1.5rem;
		margin-top: 3rem;
		backdrop-filter: blur(1rem);
		box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
	}
	/* 
	.summary {
		font-size: 1.3rem;
		width: clamp(27rem, 50vw, 37rem);
		line-height: 1.5rem;
		height: 3rem;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
	} */

	.description {
		font-weight: normal;
		font-size: 1.8rem;
		/* width: fit-content; */
		margin-bottom: 2rem;
		text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 7;
		line-clamp: 7;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
	}

	.posterContainer {
		display: none;
	}

	.genreList p {
		border: 1px solid rgba(255, 255, 255, 0);
		background-color: rgba(255, 255, 255, 0.25);

		text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	}

	.genreList p:hover {
		cursor: pointer;
		border-color: white;
		background-color: rgba(255, 254, 254, 0.1);
	}

	.watchBtn {
		background-color: rgba(255, 255, 255, 0.25);
		border: 1px solid rgba(255, 255, 255, 0.38);
		color: white;
		padding: 10px 20px;
		font-size: 18px;
		font-weight: bold;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		cursor: pointer;
		transition: all 0.3s ease;
		margin-bottom: 1.5rem;
		text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	}

	.watchBtn:hover {
		scale: 1.1;
		cursor: pointer;
		box-shadow: 0 0 8px white;
	}
}
