.season {
	transition: all 0.3s ease;
}

.seasonPoster {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	width: 100%;
	height: clamp(10rem, 14vw, 12rem);
	font-size: 1.3rem;
	text-align: center;
	position: relative;
}

.seasonPoster img {
	border-radius: 0.6rem;
	object-fit: cover;
	background-color: pink;
	height: 100%;
}

/* .season:hover {
	cursor: pointer;
	scale: 1.1;
} */

.image {
	border-radius: 0.6rem !important; /* If !important is necessary, use it */
	object-fit: cover; /* Ensure the image covers the container */
}

.season h2 {
	font-size: 1.2rem;
	text-align: center;
}

@media (min-width: 768px) {
	.season:hover {
		scale: 1.1;
	}
}
