.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100%;
	padding: 1.5rem;
}

.container h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.upcomingContainer {
	width: 100%;
	min-height: 100%;
}
