.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.container h2 {
	font-size: 2rem;
}

.upcomingContainer {
	display: grid;
	grid-template-columns: 1fr;
	padding: 1.5rem;
	gap: 2rem;
	transition: all 0.3s;
	width: 100%;
	grid-auto-rows: auto;
}
