.container {
	display: flex;
	flex-direction: column;
	margin-top: 4rem;
	width: 100%;
	/* animation: fadeIn 0.5s forwards; */
}

.container h2 {
	font-size: 2rem;
	text-align: center;
}

/* @keyframes fadeIn {
	0% {
		opacity: 0;
		scale: 0.7;
	}
	100% {
		opacity: 1;
		scale: 1;
	}
} */
