@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@layer base {
  * {
    @apply m-0 box-border list-none border-none p-0 no-underline outline-none;
  }

  html {
    font-size: 62.5%;
  }
}

@layer utilities {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 1s forwards;
  }

  .image-pixelated {
    image-rendering: pixelated;
  }

  .custom-bg-gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  }

  .genre-gradient {
    background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1a1a1a 105.79%);
  }

  .genre-item {
    @apply hover:border-primary rounded-[0.8rem] border-[2px] border-solid border-gray-100 px-[0.7rem] py-[0.4rem] backdrop-blur-lg transition-all duration-300 hover:scale-108 hover:cursor-pointer hover:bg-[#9e221a1a] xl:border xl:border-white/0 xl:bg-white/25 xl:hover:border-white xl:hover:bg-white/10;
  }

  .mask-gradient-default {
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.5) 100%);
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.5) 100%);
  }

  @media (min-width: 1280px) {
    .mask-gradient-default {
      mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 30%);
      -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 30%);
    }
  }

  .slider-control-btn {
    @apply flex items-center justify-center rounded-[4.72px] border-[1.15px] border-solid border-[#262626] bg-[#1A1A1A] hover:cursor-pointer lg:rounded-[6.1px] 2xl:rounded-[9px];

    width: clamp(33px, 5vw, 64px);
    height: clamp(33px, 5vw, 64px);
  }

  .slider-title {
    @apply text-[22.63px] leading-[150%] font-normal lg:text-[29.28px] 2xl:text-[44px];
    font-size: clamp(22.63px, 2.5vw, 44px);
  }

  .carousel-mask-gradiant {
    -webkit-mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 50%,
      rgba(0, 0, 0, 0.8) 100%
    );
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 50%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }

  .line-clamp-3-custom {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-scale {
    height: 100%;
    transition: transform 300ms cubic-bezier(0.2, 0, 0, 1);
    transform-origin: center center;
  }

  .group:hover .card-scale {
    transform: scale(1.05);
  }

  .media-frame {
    aspect-ratio: 0.7;
    transition: aspect-ratio 500ms ease;
  }

  .group:hover .media-frame {
    aspect-ratio: 16 / 9;
  }

  .content-container {
    @apply px-6 py-6 lg:mx-[68px] 2xl:mx-[101px];
  }
  /* Flex */
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-evenly {
    @apply flex items-center justify-evenly;
  }

  /* Absolute */
  .absolute-full {
    @apply absolute w-full;
  }
  .absolute-fill {
    @apply absolute inset-0;
  }

  .btn-base {
    @apply rounded-lg hover:cursor-pointer;
  }

  .size-btn {
    @apply size-[33px] sm:size-[59px];
  }

  /* Image helpers */
  .img-cover-center {
    @apply object-cover object-center;
  }

  .img-contain-center {
    @apply object-contain object-center;
  }
}
@theme {
  --font-Helvetica: 'Helvetica', 'sans-serif';
  --font-Inter: 'Inter', 'sans-serif';

  --breakpoint-3xl: 112rem;

  /* Colour Pallette */

  --color-primary: #9e221a;
  --color-secondary: #100f10;

  /* --color-primary: #e50000; */

  --color-card-bg: #1a1a1a;
  --color-card-stroke: #262626;
  --color-icons: #999999;
}
