@import "tailwindcss";

@plugin 'tailwindcss-animate';

@layer base {
  * {
    @apply m-0 p-0 box-border list-none no-underline outline-none border-none;
  }

  html {
    font-size: 62.5%;
  }
}

@layer utilities {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 1s forwards;
  }

  .image-pixelated {
    image-rendering: pixelated;
  }

  .custom-bg-gradient {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }

  .genre-gradient {
    background: linear-gradient(
      180deg,
      rgba(26, 26, 26, 0) 0%,
      #1a1a1a 105.79%
    );
  }

  .genre-item {
    @apply border-[2px] border-solid border-gray-100 px-[0.7rem] py-[0.4rem] rounded-[0.8rem] backdrop-blur-lg 
        transition-all duration-300 hover:cursor-pointer hover:border-[#9e221a] hover:bg-[#9e221a1a] hover:scale-108
        xl:border xl:border-white/0 xl:bg-white/25  xl:hover:border-white xl:hover:bg-white/10;
  }

  .mask-gradient-default {
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0.5) 100%
    );
    -webkit-mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  @media (min-width: 1280px) {
    .mask-gradient-default {
      mask-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.7) 30%
      );
      -webkit-mask-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.7) 30%
      );
    }
  }
}

@theme {
  --font-Helvetica: "Helvetica", "sans-serif";
  --breakpoint-3xl: 120rem;
}
