.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 5rem;
}

.container h2 {
	width: 100%;
	font-size: clamp(2rem, 5.5vw, 4rem);
	padding-left: 1rem;
	/* margin-left: 2rem; */
}

.cardContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
	padding: 1.5rem;
	gap: 2rem;
	transition: all 0.3s;
	width: 100%;
}

@media (min-width: 1280px) {
	.cardContainer {
		grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
		/* gap: 2rem; */
	}
}
