.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	width: 100%;
	height: 100%;
}

.genreContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
	gap: 1.5rem;
	padding: 1.5rem;
	width: 100%;
}

.pulse {
	height: 12rem;
	width: 100%;
	border-radius: 8px;
	animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
		background-color: #374151;
	}
	50% {
		opacity: 0.5;
		background-color: #2c323f;
	}
}

@media (min-width: 640px) {
	.genreContainer {
		grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
	}
}

@media (min-width: 768px) {
	.genreContainer {
		grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
	}
}

@media (min-width: 1200px) {
	.genreContainer {
		grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
		padding: 4rem;
	}
}

/* @media (min-width: 1536px) {
	.movieContainer {
		grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	}
} */

/* @media (min-width: 640px) {
	.genreList {
		grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
	}
	.genre {
		height: 10rem;
	}
}

@media (min-width: 768px) {
	.genreList {
		grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
	}
	.genre {
		height: 11rem;
	}
}

@media (min-width: 1200px) {
	.genreList {
		grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
		padding: 4rem;
	}
	.genre {
		height: 12rem;
	}
} */
