.container {
	width: 100%;
	margin-top: 4rem;
}

.movieContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
	padding: 1.5em;
	gap: 1rem;
	width: 100%;
}

.pulse {
	width: auto;
	aspect-ratio: 2/3;
	border-radius: 8px;
	/* background-color: #fff; */
	animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
		background-color: #374151;
	}
	50% {
		opacity: 0.5;
		background-color: #2c323f;
	}
}

/* @keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
} */

@media (min-width: 1280px) {
	.movieContainer {
		grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
		gap: 2rem;
	}
}
