.container {
	font-size: 1.8rem;
	width: 100%;
	padding: 0 3rem;
}

.castListContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
	position: relative;
	font-size: 1.3rem;
	justify-content: center;
	align-items: self-start;
}

.castListItem {
	width: 13rem;
	padding: 0.75rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.castListItem:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 0.8rem;
}

.content {
	color: rgb(255, 255, 255);
	transition: all 0.3s ease;
}

.content .character {
	color: rgba(255, 255, 255, 0.5);
}

.castListItem:hover {
	cursor: pointer;
}

.castListItem:hover img {
	cursor: pointer;
	transform: scale(1.1);
}

.castImgContainer h2 {
	text-align: center;
}

.castImgContainer {
	position: relative;
	height: clamp(7rem, 8vw, 10rem);
	width: clamp(7rem, 8vw, 10rem);
	margin-bottom: 1rem;
}
.castImgContainer img {
	border-radius: 50%;
	transition: all 0.3s ease;
}

@media (min-width: 1280px) {
	.castListContainer {
		grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
		align-items: self-start;
	}
	.castListItem {
		width: 17rem;
	}
}
