.container {
	/* background-color: pink; */
	display: flex;
	flex-direction: column;
	margin-top: 4rem;
	width: 100%;
}

.movieContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
	padding: 1rem;
	gap: 1rem;
	transition: all 0.3s;
	width: 100%;
}

.loadingItem {
	height: clamp(18.7rem, 25vw, 29.1rem);
	border-radius: 0.5rem;
	background-color: #374151;
	animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@media (prefers-color-scheme: dark) {
	.loadingItem {
		background-color: #374151; /* dark:bg-neutral-700 */
	}
}

@media (min-width: 1280px) {
	.movieContainer {
		grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
		gap: 2rem;
	}
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
		background-color: #374151;
	}
	50% {
		opacity: 0.5;
		background-color: #2c323f;
	}
}
