.container {
	display: flex;
	flex-direction: column;
	margin-top: 4rem;
	width: 100%;
	animation: fadeIn 0.5s forwards;
}

.container h2 {
	font-size: 2rem;
	text-align: center;
}

.movieContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
	padding: 1em;
	gap: 1rem;
	transition: all 0.3s;
	width: 100%;
}

@media (min-width: 1280px) {
	.movieContainer {
		grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
		gap: 2rem;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		scale: 0.7;
	}
	100% {
		opacity: 1;
		scale: 1;
	}
}
