.carousel {
	width: 100%;
}

.carouselItem {
	flex-basis: calc(100% / 3);
	transition: all 0.3s ease;
	padding: 1.5rem 0 2rem 0;
	background: transparent;
}

.carouselItem img {
	width: calc(100% - 1rem);
	border-radius: 0.8rem;
	box-shadow: 10px 7px 10px rgba(121, 120, 120, 0.2);
}

.carouselItem:hover {
	transform: scale(1.1);
}

.button {
	font-size: 1.5rem;
}



@media (min-width: 640px) {
	.carouselItem {
		flex-basis: calc(100% / 4);
	}
}

@media (min-width: 768px) {
	.carouselItem {
		flex-basis: calc(100% / 5); 
	}
}

@media (min-width: 1024px) {
	.carouselItem {
		flex-basis: calc(100% / 6); 
	}
}

@media (min-width: 1280px) {
	.carousel {
		width: calc(100% - 1rem);
	}
}


@media (min-width: 1536px) {
	.carouselItem {
		flex-basis: calc(100% / 8); 
	}
}
