.carousel {
	width: 100%;
	background-color: orange;
}

.carouselItem {
	flex-basis: calc((100% - 1rem) / 3);
	width: 100%;
	padding: 2rem 0.5rem 2rem 1rem;
}

.button {
	font-size: 1.5rem;
}

@media (min-width: 640px) {
	.carouselItem {
		flex-basis: calc((100% - 1rem) / 4);
	}
}

@media (min-width: 768px) {
	.carouselItem {
		flex-basis: calc((100% - 1rem) / 5);
	}
}

@media (min-width: 1024px) {
	.carouselItem {
		flex-basis: calc((100% - 1rem) / 6);
	}
}

@media (min-width: 1280px) {
	.carouselItem {
		flex-basis: calc((100% - 1rem) / 6);
		padding: 2rem 0.8rem 2rem 1rem;
	}
}

@media (min-width: 1536px) {
	.carouselItem {
		flex-basis: calc((100% - 1rem) / 8);
	}
}
