.arrow {
	background-color: #292929;
	border-radius: 50%;
	height: 3.2rem;

	width: 3.2rem;
	aspect-ratio: 1 / 1;
	color: hsla(0, 0%, 100%, 0.7);
	opacity: 0;
	transition: all 0.3s ease;
	/* font-size: 4rem; */
}

.carousel:hover .arrow {
	opacity: 1;
}

@media (min-width: 1200px) {
	.arrow {
		height: 3.8rem;
		width: 3.8rem;
	}
}
